<nz-layout>
    <nz-sider nzCollapsible [(nzCollapsed)]="isCollapsed" [nzTrigger]="null" class="ds-menu">
        <div class="logo">
            基于模型Antd组件
        </div>
        <ul nz-menu [nzTheme]="'dark'" [nzMode]="isCollapsed?'vertical':'inline'">
            <li nz-submenu>
                <span title>
                    <i class="anticon anticon-user"></i>
                    <span class="nav-text">基础组件</span>
                </span>
                <ul>
                    <li nz-menu-item><a [routerLink]="['/']">DataGrid</a></li>
                    <li nz-menu-item><a [routerLink]="['/panel']">Panel</a></li>
                    <li nz-menu-item><a [routerLink]="['/form']">Form</a></li>
                    <li nz-menu-item><a [routerLink]="['/tab']">Tab</a></li>
                </ul>
            </li>
        </ul>
    </nz-sider>
    <nz-layout>
        <nz-header style="background: #fff; padding:0;">
            <i class="anticon trigger" [class.anticon-menu-fold]="!isCollapsed" [class.anticon-menu-unfold]="isCollapsed" (click)="isCollapsed=!isCollapsed"></i>
        </nz-header>
        <nz-content style="margin:16px;">
            <router-outlet></router-outlet>
        </nz-content>
    </nz-layout>
</nz-layout>