$split-color:#e1e1e1;
$select-color:#F5F5F5;
$input-error-color:#a94442;
$input-success-color:#42A948;
$bg-color:#F6F7FB;
$color-blue:#2d99ed;
$color-blue-hover:#0d7cd2;
$color-main:#3d99eb;
$color-ddd:#ddd;

$color-hover-bg:#f2f9ff;
$color-hover-border:#cde7ff;
$primary-color:#108ee9;
$hover-color:#ecf6fd;
$bg-color:#ECECEC;