 <div class="block-demo">
    <ngds-block [option]="blockOption">
        <ngds-block-info [option]="blockInfoOption"></ngds-block-info>
    </ngds-block>
    <ngds-block [option]="block2Option">
        <ngds-block-info [option]="blockInfo2Option"></ngds-block-info>
    </ngds-block>
    <ngds-block [option]="block3Option">
        <ngds-block-info [option]="blockInfo3Option"></ngds-block-info>
    </ngds-block>

    <ngds-block [option]="block4Option">
        <ngds-datagrid [option]="tableOption"></ngds-datagrid>
    </ngds-block>
</div>