html, body, div {
    border: 0;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Box-sizing border-box */
*, *:before, *:after {
    box-sizing: border-box;
}

/* Set up a default font and some padding to provide breathing room */
body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.clearfix {
    &::after {
        display: block;
        content: "";
        clear: both;
    }
}


@import "./datagrid/datagrid";
@import "./panel/panel";
@import "./form/form";
@import "./tab/tab";
